@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
    margin: 0;
}

body {
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 540px;
    height: 900px;
    background-color: white;
    border: 1px solid #aacdff;
    box-shadow: 7px 7px 39px rgba(0, 104, 225, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

h3 {
    width: 380px;
    margin-bottom: 20px;
    color: rgb(62, 130, 185);
    font-size: 32px;
    font-weight: 100;
}

.error {
    color: red;
    height: 10px;
    font-size: 11px;
}

.inputbox {
    width: 380px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid #d2d2d2;
    padding: 18px;
    margin-top: 20px;
}

.inputbox::placeholder {
    font-size: 20px;
    font-weight: 100;
    color: #797979;
}

.phone_wrapper {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.phoneNum {
    width: 100px;
    height: 40px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
}

.token_wrapper {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.token,
.token_timer {
    color: rgb(62, 130, 185);
    font-size: 20px;
}

#token_button,
#token_confirm_button {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    margin-left: 20px;
    font-size: 18px;
}

.location {
    width: 380px;
    height: 60px;
    margin-top: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    font-size: 18px;
    padding: 20px;
    color: #797979;
}

.gender_wrapper {
    width: 380px;
    height: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.gender {
    width: 70px;
    text-align: center;
}

hr {
    width: 380px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
}

#signup_button {
    width: 380px;
    height: 75px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    font-size: 18px;
}
